.place__link {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 48px;
  text-decoration-line: underline;
  color: white;
  transition: 1s;
}

.place__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .place__link {
    display: none;
  }
}