@import url(./__columns/place__columns.css);
@import url(./__title/place__title.css);
@import url(./__photo/place__photo.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__text/_size/place__text_size_big.css);
@import url(./__text/_size/place__text_size_small.css);
@import url(./__text/place__text.css);
@import url(./__title-box/place__title-box.css);
@import url(./__website-box/place__website-box.css);
@import url(./__image-box/place__image-box.css);
@import url(./__text-box/place__text-box.css);
.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-areas: "title website" "image description";
}

@media screen and (max-width: 1142px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 958px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 656px) {
  .place {
    grid-gap: 28px;
    grid-template-columns: auto;
    grid-template-areas: "title" "image" "description";
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-gap: 32px;
  }
}