.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: 1s;
}

.footer__column-links:hover > .footer__list:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .footer__column-links {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
    gap: 32px;
  }
}