.place__website-box {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 656px) {
  .place__website-box {
    display: none;
  }
}